html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}
#container{
    height: 33%;
    position: relative;
    background-color:blueviolet;
}
#container img{
    position: absolute;
    height: 90%;
    border-radius: 10%;
    left: 70%;
    bottom: 0;
}
#info{
    width: 40%;
    position: absolute;
    left: 7%;
}
#info h4,span{
    background-color: rgb(11, 237, 163);
    width: 37%;
    padding: 1%;
}
#competences{
    display: flex;
}
#presentation{
    width: 40%;
}
#icon{
    width: 50%;
    position: relative;
}
.fas.fa-code.fa-5x{
    position: absolute;
    top:20%;
    left: 40%;
}
#reseaux{
    background-color:blueviolet;
    position: relative;
    height: 27%;
}
a{
    color: black;
    text-decoration: none;
    margin-left: 30px;
}
#presentation a{
    background-color:blueviolet;
}
#txt{
    position: absolute;
    left: 5%;
    top: 2%;
}
#logo{
    position: absolute;
    left: 65%;
    top:30%
}

@media screen and (max-width: 770px){
    #info{
        width: 74%;
    }
    #info p{
        width: 86%;
    }
    #container img{
        height: 53%;
    }
    #icon{
        width:37%;
    }
    #presentation{
        width: 53%;
    }
}
@media screen and (max-width: 770px){
    #container img{
        display: none;
    }
    #info p {
        width: 120%;
    }
    #icon{
        display: none;
    }
    #logo {
        left: 0%;
        top: 63%;
    }
    #presentation {
        width: auto;
    }
}
@media screen and (max-width: 375px){
    #container{
        height: 53%;
    }
    #logo{
        font-size: 10px;
        left: 47%;
    }
    #txt{
        top:-17px;
    }
    #container p{
        display: none;
    }
}