body{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    
}
#container{
    background-color:#00f2ee ;
    height: 200px;
    position: relative;
}
#info{
    width: 40%;
    position: absolute;
    left: 10%;
}
#moi{
    position: absolute;
    right: 10%;
    border-radius: 10%;
}
#competences{
    position: relative;
    height: 220px;
}
#presentation{
    width: 60%;
    position: absolute;
    left: 30%;
    top: 10%;
}
.fas{
    position: absolute;
    top: 20%;
    left:15%;
}
#reseaux{
    height: 150px;
    background-color: #00f2ee ;
    position: relative;
}
#reseaux h1{
    position: absolute;
    top: 15%;
    left: 10%;
}
#reseaux p{
    position: absolute;
    top:45%;
    left: 10%;
}
#logo{
    color: black;
    position: absolute;
    left: 60%;
    top: 15%;
}
#logo a{
    color: black;
}
